# Example pillar data for awslogs config

awslogs:
  # Service config. All optional
  region: us-east-1
  key_id: XXX
  secret_access_key: XXX
  # Global log group, overridable below in streams
  loggroup: project.byf1.io
  # Logs to ship
  streams:
    syslog:
      file: /var/log/messages
      logstream_name: {instance_id}
      datetime_format: '%b %d %H:%M:%S'
      loggroup: {{ grains['id'] }}
      logstream: syslog-{instance_id}
    accesslog:
      file: /var/log/nginx/site.log
      datetime_format: '%d/%b/%Y:%H:%M:%S %z'
      loggroup: {{ grains['id'] }}
      logstream: nginx-accesslog-{instance_id}
    errorlog:
      file: /var/log/nginx/error.log
      datetime_format: '%Y/%m/%d %H:%M:%S'
      loggroup: {{ grains['id'] }}
      logstream: nginx-errors-{instance_id}
